.navbar {
  position: sticky;
}
nav a {
  padding: 30px;
}
.navfont {
  padding-left: 20px;
  padding-right: 20px;
  color: #a05b2e;
}

.nav-link {
  color: #333;
  transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover {
  color: white;
  background-color: #d0d4da;
}

.active-nav {
  color: white !important;
  background-color: #11b944 !important;
}
